---
import BaseLayout from '../layouts/BaseLayout.astro';
import Uploader from '../components/Uploader.astro';
---

<BaseLayout>
  <div class="flex flex-col items-center gap-8 text-center">
    <div class="space-y-3">
      <h1 class="text-4xl sm:text-5xl lg:text-6xl font-semibold tracking-tight">
        Wavefy
      </h1>
    </div>
    <Uploader />
  </div>
</BaseLayout>
